.sidebar {
    position: fixed;
    bottom: 0;
    top: 55px;
    left: 0;
    background-color: white;
    width: 72px;
    padding-top: 10px;
    Z-index: 200;
}

.sidebar-link{
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}